#MainWidget {
	background: rgb(100, 100, 100);
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

QPushButton {
	background-color: rgb(66, 66, 139);
	border: 3px solid rgb(53, 53, 110);
	border-radius: 20px;
	font-size: 35px;
	color: rgb(235, 235, 235);
	margin: 0 100%;
	padding: 0;
}

QPushButton:hover {
	background-color: rgb(48, 48, 146);
	font-size: 36px;
}

CustomLineEdit {
	color: rgb(235, 235, 235);
	background-color: rgb(65, 65, 65);
	font-size: 45px;
	selection-background-color: rgb(34, 34, 34);
}

QLabel {
	font-size: 40px;
}
