* {
	background-color: rgb(94, 94, 94);
	font-size: 35px;
}

QPushButton {
	background-color: rgb(66, 66, 139);
	border: 3px solid rgb(53, 53, 110);
	border-radius: 20px;
}

QLabel#Title {
	border: 1px solid rgb(37, 37, 37);
}
